body {
        background-color: #FFFFFF;
        font-family: 'Ubuntu', sans-serif;
    }

#cam {
    position: relative;
    width:50px;
    height:50px;
    left:0;
    right:0;
    margin-left: 70%;
    margin-right: auto;

    
}

.title2 {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        color: #AEC86B;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 35px;
        margin: auto;
    }

#calendar{
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  font-family: 'Ubuntu', sans-serif;
}
#calendar_weekdays div{
  display:inline-block;
  vertical-align:top;
}
#calendar_content, #calendar_weekdays, #calendar_header{
  position: relative;
  width: 320px;
  overflow: hidden;
  float: left;
  z-index: 10;
}
#calendar_weekdays div, #calendar_content div{
  width:40px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  background-color: #FFFFFF;
  color: #787878; 
}
#calendar_content{
  -webkit-border-radius: 0px 0px 12px 12px;
  -moz-border-radius: 0px 0px 12px 12px; 
  border-radius: 0px 0px 1.5em 1.5em;
}
#calendar_content div{
  float: left;
}
#calendar_content div:hover{
  background-color: #AEC86B;
}
#calendar_content div.blank{
  background-color: #E8E8E8;
}
#calendar_header, #calendar_content div.today{
  zoom: 1;

}
#calendar_content div.today{
  color: #FFFFFF;
}
#calendar_header{
  width: 100%;
  height: 37px;
  text-align: center;
  background-color: #FF6860;
  padding: 18px 0;
  -webkit-border-radius: 1.5em 1.5em 0px 0px;
  -moz-border-radius: 1.5em 1.5em 0px 0px;
  border-radius: 1.5em 1.5em 0px 0px;
}
#calendar_header h1{
  font-size: 1.5em;
  color: #FFFFFF;
  float:center;
  width:70%;
}
i[class^=icon-chevron]{
  color: #FFFFFF;
  float: left;
  width:15%;
  border-radius: 50%;
}