

      /******* MAIN PAGE *****/
.title2 {
        padding-top: 0.5em;
        color: #AEC86B;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 35px;
        margin: auto;
    }

#container{

        position: absolute;
        background-color: #AEC86B;
        width: 400px;
        height: 550px;
        left:0;
        right:0;
        margin: 2em auto;

        border-style: solid;
        border-color: #AEC86B;
        border-width: 2px;
        background-color: white;

        border-radius: 1.5em;
        box-shadow: 0px 6px 35px 2px rgba(0, 0, 0, 0.14);
    
}

#call {
     position: relative;
    
     width:80px;
     height:80px;

     left:0;
     right:0;
     padding-top: 100%;
     padding-left: 16px;
     margin: 2em auto;
}

#cam {

     position: relative;
    
     width:80px;
     height:80px;

     left:0;
     right:0;
     padding-top: 105%;
     padding-left: 60px;
     margin: 2em auto;
}

#cog {

     position: relative;
    
     width:80px;
     height:80px;

     left:0;
     right:0;
     padding-top: 100%;
     padding-left: 60px;
     margin: 2em auto;
}


             /******* LOGIN PAGE *****/

     body {
        background-color: #FFFFFF;
        font-family: 'Ubuntu', sans-serif;
    }
    
    p {
        padding-top: -10px;
    }

    .main {
        background-color: #AEC86B;
        width: 400px;
        height: 400px;
        margin: 2em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }

    .title {
       padding-top: 0.5em;
        color: #AEC86B;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 35px;
        margin-top: auto;
    }

    #small {
        color: #AEC86B;
        font-family: 'Ubuntu', sans-serif;
        font-size: 13px;
    }
    
    .sign {
        padding-top: 40px;
        color: #FFFFFF;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 23px;
    }
    
    .user {
    width: 76%;
    color: #8CD4C9;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
    
    form.form1 {
        padding-top: 30px;
    }
    
    .pass {
    width: 76%;
    color: #8CD4C9;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
    
   
    .user:focus, .pass:focus {
        border: 2px solid #8CD4C9 !important;
        
    }
    
    .submit {
      cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: #8CD4C9;
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 35%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.05);
    }
    
    .forgot {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #8CD4C9;
        padding-top: 20px;
    }
    
    a {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #FFFFFF;
        text-decoration: none
    }
    
    @media (max-width: 400px) {
        .main {
            border-radius: 0px;
        }

